matplotlib==3.9.2
mkl-service==2.4.0
mkl_fft 
mkl_random 
numexpr 
numpy 
packaging 
pandas 
pillow 
ply 
pyparsing 
PyQt5==5.15.10
PyQt5_sip 
python-dateutil 
pytz 
scikit-learn 
scipy 
seaborn 
setuptools==72.1.0
sip 
six 
threadpoolctl 
tornado 
tzdata 
wheel==0.44.0
xgboost 
